*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    color: #334e64;
}

body{
    height: 100vh;
    background: linear-gradient(130deg, #98AFDC, #FEA255);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card{
    width: 400px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
}

.card-header{
    background: #f2f2f2;
    padding: 60px 40px;
}

.pic{
    display: inline-block;
    padding: 4px;
    background: linear-gradient(130deg, #74b9ff, #e66767);
    margin: auto;
    border-radius: 50%;
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;

    position: absolute;
    transform: translate(-50%, -100%);
}

@keyframes animated-gradient{
    25%{
        background-position: left bottom;
    }
    50%{
        background-position: right bottom;
    }
    75%{
        background-position: right top;
    }
    100%{
        background-position: left top;
    }
}

.pic img{
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.info {
    margin-bottom: 12px;
}

.info i {
    margin-right: 10px;
}

.name{
    font-size: 1.4em;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 30px;
    color: #c43cb2;
}

.links {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    justify-content: space-between;
    align-items: center;
}

.links button i {
    color: #f2f2f2;
}

.links button {
    border: none;
    background-color: #e66767;
    outline: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: 0px 5px 25px rgb(0, 0, 0, 0.15);
    transition: transform 0.3s;
}

.links button:hover {
    transform: scale(1.1);
}

.contact-btn{
    display: inline-block;
    padding: 12px 50px;
    color: #f2f2f2;
    background: linear-gradient(130deg, #ce4a67, #815492);
    border-radius: 50px;
    margin-top: 16px;
    transition: transform 0.3s;

    outline: none;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 2px;
}

.contact-btn:hover{
    transform: scale(1.05);
    opacity: 0.85;
}

/* SOCIAL COLORS */
.links button.linkedin {
    background: linear-gradient(45deg, #0e76a888, #0e76a8);
}

.links button.github {
    background: linear-gradient(45deg, #33333388, #333333);
}

.links button.wordle {
    background: linear-gradient(45deg, #6aaa64, #c9b458);
}