---
import Terminal from "../components/Terminal.astro";
import HTMLTerminal from "../components/HTMLTerminal.astro"
import SkillCard from "../components/SkillCard.astro";
import Project from "../components/Project.astro";
import Signature from "../components/Signature.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iñigo Herrero</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	<div class="app">
		<div class="terminal-container">
			<div class="terminal"><HTMLTerminal></HTMLTerminal></div>
		</div>
		<div class="info-container">
			<div class="about">
				<h1>about me</h1>
				<p class="info">📍<em>Andoain, Spain</em>  |  🎂<em>12-08-2000</em>  |  <em>He/him</em></p>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore quaerat quae reprehenderit minus necessitatibus vitae quisquam explicabo iste, fuga soluta. Alias vitae, aliquid quidem pariatur voluptatibus maxime, molestiae harum iure laborum adipisci ratione voluptatum temporibus unde labore perferendis beatae necessitatibus repellat, sunt reiciendis sed qui. Inventore recusandae odit cum repellendus.</p>
				<div class="signature">
					<Signature></Signature>
				</div>
			</div>
			<div class="skills">
				<h2>my skills</h3>
				<div class="skill-container">
					<SkillCard icon="fa-solid fa-infinity" title="devops" body="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt et quas placeat illum debitis sed facere autem error accusamus quae!"/>
					<SkillCard icon="fa-solid fa-brain" title="AI development" body="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt et quas placeat illum debitis sed facere autem error accusamus quae!"/>
					<SkillCard icon="fa-solid fa-shield-halved" title="cybersecurity" body="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt et quas placeat illum debitis sed facere autem error accusamus quae!"/>
					<SkillCard icon="fa-solid fa-shield-halved" title="sample title" body="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt et quas placeat illum debitis sed facere autem error accusamus quae!"/>
				</div>
			</div>
			<div class="projects">
				<h2>projects</h3>
				<div class="project-container">
					<div class="project"><Project tag="deep-learning" title="museguro" body="Accident prediction on NY streets using a distributed system for machine learning training and YOLOv8 for pedestrian, bicycle and car count from streaming image source."></Project></div>
					<div class="project"><Project tag="microservices" title="microservice architecture on producing company" body="poner una descripción al PBL1 del máster."></Project></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

<style>
	@viewport {
	  width: device-width ;
	  zoom: 1.0 ;
	} 
	* {
		margin: 0;
		color: rgba(240, 240, 240, 0.87);
	}
	html, body {
		width: 100%;
		height: 100%;
		overflow: hidden;
		background-color: #121212;
	}
	h1 {
		font-size: 50px;
		font-weight: 700;
		margin-top: 5rem;
	}
	h2 {
		font-size: 30px;
		font-weight: 700;
		margin-bottom: 1rem;
	}
	.app {
		display: flex;
		width: 100%;
		height: 100%;
	}
	.terminal-container {
		/* background-color: #0a0c14; */
		flex: 4;
		height: 100vh;
		padding-left: 2rem;

		display: flex;
		align-items: center;
		justify-content: center;
	}
	.terminal {
		border: 2px solid rgb(255, 170, 0);
		border-radius: 0.5rem;
		padding: 0.5rem;
		height: 75%;
		max-height: 75%;
		width: 100%;
		transition: box-shadow 0.6s cubic-bezier(0.22, 1, 0.36, 1)
	}
	.terminal:hover {
		box-shadow: 1px 1px 5px rgb(232, 122, 37);
	}
	.info-container {
		flex: 6;
		/* background-color: #19b405; */
		font-family: 'Atkinson Hyperlegible', sans-serif;
		max-height: 100vh;
		max-width: 750px;
		overflow: auto;
		padding-inline: 4rem;
	}
	.info-container h3, p, div {
		margin-bottom: 1.5rem;
	}
	.signature {
		display: flex;
		justify-content: right;
	}
	#signature {
		stroke-dasharray: 908;
	}
	.info {
		color: rgb(241, 37, 211);
	}
	.skill {
		width: 100%;
	}
	.skill-container {
		display: grid; 
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;

		gap: 2rem;
		height: 100%;
		
		place-items: center;
	}
	.project-container {
		display: flex;
		flex-direction: column;
	}
	@media screen and (max-width:700px) {
	  /* CSS for screens that are 700 pixels or less will be put in this section */
		html, body {
			background-color: rgb(97, 0, 0);
			overflow: auto !important;
			width: 100% !important;
			height: 100% !important;
		}
		.app {
			display: flex !important;
			flex-direction: column !important;
			gap: 2rem;

			width: 100% !important;
		}
		.terminal-container {
			all: unset;

			display: grid;
			place-items: center;
			height: 100% !important;
			width: 100%;
			margin-top: 2rem;
		}
		.terminal {
			margin: 0 !important;
		}
		.info-container {
			all: unset;

			font-family: 'Atkinson Hyperlegible', sans-serif;
			height: 100%;
			margin: 0 !important;
			padding-inline: 4rem;
		}
		.skill-container {
			display: grid; 
			grid-template-rows: 1fr 1fr 1fr 1fr;
			grid-template-columns: 1fr;
			overflow: auto;
			gap: 2rem;
			height: 100%;
			
			place-items: center;
		}
	}
</style>